<h1>'<%= @test_passage.test.title %>' Test Results</h1>
<p>
  
</p>

Выводите сообщение и процент успеха в зависимости от количества правильных ответов
Если процент успеха >= 85% число должно быть зелёного цвета и сообщение должно говорить об успешном прохождении теста
Если процент успеха < 85% число должно быть красного цвета и сообщение должно говорить о том что тест не пройден
Добавьте навигацию в виде ссылки на список всех тестов
