<footer>
  <p>Year: <%= current_year %></p>
  <p>Author: Hanna</p>
  <p>Github <%= github_url('NeskladAnya', 'test-guru') %>
  <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: "_blank" %></p>
</footer>
