<footer>
  <p>
    Year: <%= current_year %> ||
    Author: Hanna ||
    Github <%= github_url('NeskladAnya', 'test-guru') %> ||
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: "_blank" %>
  </p>
</footer>
