<tr>
  <td class="align-middle"><%= test.title %></td>
  <td class="text-center"><%= test.questions.count %></td>
  <td class="text-center"><%= button_to t('nav.start'), start_test_path(test) %></td>
</tr>

